* {
    margin: 0;
    padding: 0;

}

body {
    background-color: yellow;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
   
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 10px / 30px;
    border: none;
    font-size: 8vmin;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;;
    font-size: 8vmin;
    color:#fff;
    background-color:greenyellow;
}



#reset-button{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: green;
    color: #fff;
    border-radius: 1rem;
    border: none;

}
#new-btn{
  padding: 1rem;
  font-size: 1.25rem;
  background-color: green;
  color: #fff;
  border-radius: 1rem;
  border: none;
}
#msg{
  color: black;
  font-size: 5vmin;
}
.msg-continer{
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.hide{
  display: none;
}